<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-light" style="background-color: #176cff">
    <div class="container">
        <div class="navbar-header" style="width: inherit">
            <a class="navbar-brand" href="{% url 'lab-10:dashboard' %}" style="color: #edecd6">Home</a>
            <a class="navbar-brand" href="{% url 'lab-10:movie_list' %}">Movie List</a>
            <a class="navbar-brand" href="{% url 'lab-10:list_watch_later' %}">Watch Later</a>
        </div>
    </div>
</nav>
