.login {
  border-radius: 4px;
  padding: 15px 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  align: center;
  margin:auto;
  display:block;
  background: linear-gradient(253deg, #22c80c, #17d275, white);
  background-size: 300% 300%;
  -webkit-animation: Background 25s ease infinite;
  -moz-animation: Background 25s ease infinite;
  animation: Background 25s ease infinite;
}

.img-container{
  position: relative;
  width: 100%;
  height: 100%;
}

.cover {
  width:80%;
  height:300px;
  margin: auto;
  display: block;
}
.name {
  position: absolute;
  bottom: 10px;
  left: 280px;
}
.picture {
  border: solid;
  border-color: white;
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: 20px;
  left: 150px;
}

body {
background: linear-gradient(253deg, #0cc898, #1797d2, blanchedalmond);
background-size: 300% 300%;
-webkit-animation: Background 25s ease infinite;
-moz-animation: Background 25s ease infinite;
animation: Background 25s ease infinite;
}

@-webkit-keyframes Background {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@-moz-keyframes Background {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@keyframes Background {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

.full-screen {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: url(https://i.imgur.com/wCG2csZ.png);
background-size: cover;
background-position: center;
width: 100%;
height: 100%;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: column
/* works with row or column */

flex-direction: column;
-webkit-align-items: center;
align-items: center;
-webkit-justify-content: center;
justify-content: center;
text-align: center;
}

.data{
  display: block;
  margin: auto;
}

h1 {
color: #fff;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
font-size: 4em;
letter-spacing: -2px;
text-align: center;
text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}

h5 {
color: black;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
font-size: 2em;
letter-spacing: -2px;
text-align: center;
}

.button-line {
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
letter-spacing: 2px;
background: transparent;
border: 1px solid #fff;
color: #fff;
text-align: center;
font-size: 1.4em;
opacity: .8;
padding: 20px 40px;
text-decoration: none;
transition: all .5s ease;
margin: 0 auto;
display: block;
width: 100px;
}

.button-line:hover {
opacity: 1;
}


.dataPost
{
margin-top: 40px;
position:relative;
width: 100%;
height: 280px;

}

#postInput{
  height: 70%;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 30px;
  border-radius: 4px;
}

.postStatus{
  margin-right: 35px;
  float: right;
}

.logout{
   float:left;
}

.feed{
 background-color: rgb(238, 238, 238);
 margin: auto;
 margin-top: 10px;
 width: 50%;
 display: block;
 border-radius: 6px;
}


#left{
 background-color: rgb(238, 238, 238);
 border-radius: 4px;
 margin : auto;
 width: 30%;
 margin-left: 2%;
 text-align: left;;
 height: auto;
 float:left;

}
#right
{
 border-radius: 4px;
background-color: rgb(238, 238, 238);
float: right;
width: 50%;
height: 100%;
background-size: 80% auto;
}
@media screen and (max-width:768px) {
.picture{
  position: absolute;
  margin: 0 auto;
  top:10px;
  left: 36%;
}
.name{
  position: absolute;
  left:15%
}

#left{
  width: 90%;
  align-self: center;
  margin-bottom:50px;
  bottom: 10px;
  text-align: center;
}
#right{
  width: 100%;
  margin-bottom: 20px;
}
}
